<div class="content-v-centered indent-b">
    <div class="bg-colored">

        <!-- ko if: currentQuestion -->
            <!-- ko component: { 
                name: "question", 
                params: { 
                    question: currentQuestion(), 
                    nextQuestionHandler: nextQuestionClick, 
                    addUserAnswer: addUserAnswer, 
                    currentQuestionNumber: currentQuestionNumber, 
                    countOfQuestions: countOfQuestions 
                } 
            } -->
            <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
