<div class="content-v-centered indent-b w50">
    <div class="bg-colored">
        <div class="sign-up-form">
            <h2>С прибытием!<br>Ваши ответы приняты! Заполните форму ниже, и письмо с вашим результатом будет немедленно отправлено. Показав его представителю FLS, вы получите подарок от нашей дружной компании.</h2>
            <div class="fields">
                <div class="field">
                    <label class="field-label" for="form-name">Имя *</label>
                    <input class="field-input" type="text" data-bind="value: name" onkeyup="this.setAttribute('value', this.value);" value="" required placeholder="Имя…*" id="form-name">
                </div>
                <div class="form-tip field-error" data-bind="validationMessage: name"></div>
                <div class="field">
                    <label class="field-label" for="form-email">E-mail *</label>
                    <input class="field-input" data-bind="value: email" onkeydown="return event.key != ' '" onkeyup="this.setAttribute('value', this.value);" value="" placeholder="me@example.com…*" id="form-email">
                </div>
                <div class="form-tip field-error" data-bind="validationMessage: email"></div>
                <div class="form-tip">Результаты будут отправлены на указанный почтовый ящик</div>
                <div class="field margin-t">
                    <label class="field-label" for="form-message">Сообщение</label>
                    <textarea class="field-textarea" rows="10" cols="45" data-bind="value: comment" onkeyup="this.setAttribute('value', this.value);" value="" placeholder="Пара слов о себе (необязательно)" id="form-message"></textarea>
                </div>
            </div>
            <div class="sign-up-buttons">
                <input readonly class="form-button" data-bind="click: submitButtonClick" onfocus="this.blur()" value="Отправить" />
            </div>
        </div>
    </div>
</div>